require 'bundler'
Bundler.require

ActiveRecord::Base.pluralize_table_names = false

#  Fill this stuff in
ActiveRecord::Base.establish_connection(
    adapter: 'sqlserver',
    host: '127.0.0.1',
    database: 'db', #TODO add support for all DBs
    :username => 'username',
    :password => 'password',
)

class Document < ActiveRecord::Base
  self.primary_key = "documentid"
end

